table {
    width: 100%;
}

.mat-column-id, .mat-column-color, .mat-column-date, .mat-column-number {
    width: 25%;
}

#table-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

mat-card {
    align-items: center;
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 40%;
}

mat-paginator {
    margin-top: 15px;
}